
    .barbershop-card {
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        background-color: #f8f9fa;
    }

    .barbershop-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }

    .barbershop-img {
        height: 250px; /* Фиксирана височина на снимките */
        object-fit: cover; /* Запазва пропорциите и запълва */
    }

    .card-title {
        color: #343a40; /* Тъмен цвят за заглавието на картата */
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    .card-text {
        color: #6c757d;
    }

    .btn-outline-warning {
        color: #ffc107;
        border-color: #ffc107;
    }

        .btn-outline-warning:hover {
            color: #212529;
            background-color: #ffc107;
            border-color: #ffc107;
        }
    .container {
        max-width: 1200px;
    }